<app-loader></app-loader>
  <main id="content" class="main page-content fade-in" aria-label="Content">
    <header class="universe-intro universe" data-detect-viewport="">
        <div class="container text-white text-center">
            <div class="text-group universe-intro__content">
                <figure class="universe-logo-wrap" data-animate-in="up">
                    <img class="universe-logo" src="assets/img/universe/GitHub-Mark-Light-120px-plus.png" alt="GitHub Universe Logo - full" />
                    <img class="universe-logo-white" src="assets/img/universe/GitHub-Mark-Light-120px-plus.png" alt="GitHub Universe Logo - full, white" />
                </figure>
                <figure class="shooting-star">
                        <img src="./assets/img/universe/shapes/shooting-star.svg" alt="shooting star" />
                </figure>
                <figure class="shooting-star-right">
                    <img src="./assets/img/universe/shapes/shooting-star.svg" alt="shooting star" />
                </figure>
                <div>
                    <p>
                        <span class="h2" data-animate-in="up" data-animate-in-delay="1500">Github Searches</span>
                        <span class="h2" data-animate-in="up" data-animate-in-delay="2500">Fastest way to get information on github</span>
                    </p>
                </div>
                <div class="text-group__ft" data-animate-in="up" data-animate-in-delay="3500">
                    <a class="btn" routerLink='search'>Get Started</a>
                </div>
            </div>
        </div>
        <div class="stars"></div>
        <div class="stars-lg"></div>
    </header>

</main>      <!-- JAVASCRIPT -->

